:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream-color: hsl(30, 38%, 92%);

  --Very-darkblue: hsl(212, 21%, 14%);
  --Dark-grayishblue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

p {
  color: var(--Cream-color);
}

.color {
}
